.row {
  display: flex;
  flex-direction: "row";
  width: 40vw;
  justify-content: space-between;
  padding-bottom: 1vh;
  margin-bottom: 3vh;
  border-bottom: 1px solid snow;
}
.column {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

@media only screen and (max-width: 600px) {
  .row {
    width: 90vw;
  }
}
