.fadeIn {
  animation: fadeIn 1s linear 0s;
  -webkit-animation: fadeIn 1s linear 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.text {
  margin-bottom: 6vh;
  width: 100%;
}
.text > * {
  width: 50vw;
}
.text:nth-child(even) {
}
.text:nth-child(odd) {
  display: flex;
  text-align: end;
  justify-content: flex-end;
}
