.header {
  position: absolute;
  opacity: 1;
  top: 0px;
  right: 0px;
  left: auto;
  color: transparent;
  text-align: start;
  font-family: "Helvetica";
  font-size: 6vw;
  font-weight: 900;
  z-index: 5;
  -webkit-text-stroke: 1px snow;
}
.image {
  width: 30vw;
  object-fit: cover;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vw;
}
.text {
  margin-bottom: 5vh;
}
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
} */
