.imageContainer {
  /* overflow: hidden; */
  display: block;
  min-width: 0;
  min-height: 0;
}
.imageContainer img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}
.title {
  margin: unset;
}
.videoContainer {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.text {
  margin-bottom: 5vh;
}

.section {
  /*   scroll-snap-align: start;
 */
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-gap: 2vh;
  grid-template-columns: 1fr;
  overflow: hidden;
  align-items: flex-start;
  width: var(--contentWidth);
  min-height: 80vh;
  box-sizing: border-box;
}
.container {
  /*   scroll-snap-type: y proximity;
 */
  overflow-y: scroll;
  box-sizing: border-box;
  height: 88vh;
  width: var(--contentWidth);
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 0;
  text-align: start;
  line-height: 1.6;
  letter-spacing: 0.1em;
  overflow: hidden;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .container {
    /*     scroll-snap-type: y proximity;
 */
    overflow-y: scroll;
    height: var(--mobileHeightContent);
    width: 90vw;
  }
  .section {
    /*     scroll-snap-align: start;
 */
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 1vh;
    overflow: hidden;
    align-items: flex-start;
    padding: 1vh 0px 2vh 0px;
    grid-template-columns: 1fr;
    width: 90vw;
    min-height: 75vh;
  }
}
