.header {
  position: absolute;
  opacity: 1;
  top: 0px;
  right: 0px;
  left: auto;
  color: transparent;
  text-align: start;
  font-family: "Helvetica";
  font-size: 6vw;
  font-weight: 900;
  z-index: 5;
  -webkit-text-stroke: 1px snow;
}
.image {
  width: 100%;
  height: auto;

  /*   position: absolute;
  top: 0px; */
  display: block;
  object-fit: cover;
  aspect-ratio: 5/3;
  border: 1px solid snow;
}
.image:hover {
  cursor: pointer;
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.container {
  /*   display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
  padding-bottom: 5vh;
  height: fit-content;
  width: fit-content; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28vw, 1fr));
  align-items: center;
  /*   grid-template-columns: 1fr 1fr;
  grid-gap: 5vh; */
  grid-gap: 2vh;
  width: inherit;
  flex-wrap: wrap;
}
.relative {
  position: relative;
  /* height: fit-content; */
}
.image:after:hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}
.title {
  position: absolute;
  top: 0px;
  font-size: 50px;
  font-weight: 500;
  color: snow;
}
.genre {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--white);
  font-size: 21px;
  font-weight: 900;
  cursor: pointer;
}
.margin {
  margin-right: 10px;
}
.marginLeft {
  padding-left: 5vw;
}
.marginTop {
  margin-top: 20px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 25px;
  width: 140px;
  padding: 20px 40px;
  color: var(--white);
  background-color: transparent;
  font-size: 1.2rem;
  border: 1px solid var(--white);
}
.button:hover {
  cursor: pointer;
  height: 25px;
  padding-right: 40px;
  color: var(--black);
  background-color: var(--white);
  font-size: 1.2rem;
  border: 1px solid var(--white);
}

@media only screen and (max-width: 600px) {
  .image {
    width: 100vw;
    max-width: 500px;
    object-fit: cover;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    padding-bottom: 5vh;
    height: fit-content;
    width: fit-content;
  }
}
