.icon {
  width: 4vw;
  height: 4vw;
  color: var(--white);
}
.icon:hover {
  color: #44364663;
}

.container {
  /*   position: absolute; */
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}
.container > * {
  margin: 10px 0px;
  margin-right: 20px;
}
