.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 1.2vw;
}
:root {
  /*   --black: rgb(16, 18, 17); */
  --white: snow;
  /*   --black: rgb(34, 36, 35); */
  --black: rgb(56, 48, 48);
  --lila: #17041b;
  /*   --gradient: linear-gradient(180deg, rgb(56, 48, 48) ;, rgb(34, 36, 35)); */
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 70vh;
  padding-top: 12vh;
  padding-bottom: 5vh;
  width: 50vw;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  /*   padding: 0 5vw;
 */
  height: 73vh;
  margin: auto;
  color: snow;
  z-index: 0;
  text-align: start;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: 300;
  overflow: scroll;
}
.image-gallery {
  width: auto;
  max-height: 55vh;
  display: block;
  object-fit: cover;
  aspect-ratio: 5/3;
}
.image-gallery-image {
  display: block;
  object-fit: cover !important;
  aspect-ratio: 5/3;
  margin-bottom: 5vh;
}
.image-gallery-thumbnail-image {
  display: block;
  object-fit: cover;
  aspect-ratio: 5/3;
  width: 10vw !important;
  height: 100% !important;
  cursor: pointer;
}
.image-gallery-thumbnails-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image-gallery-thumbnail,
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  width: 10vw !important;
  border: none !important;
  transition: none !important;
}
.image-gallery-thumbnail,
.image-gallery-thumbnail:hover {
  border: 1px;
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.image-gallery-thumbnail-inner:focus {
  border: none !important;
  transition: none !important;
}

.rowSpacing {
  margin-bottom: 3vh;
}
.fadeIn {
  width: 40vw;
  height: 100%;
  animation: fadeIn 2s linear 0s;
  -webkit-animation: fadeIn 2s linear 0s;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
a {
  color: snow;
}
p {
  margin: 0px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*::-webkit-scrollbar {
  /*   width: 0.5em;
 */
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: snow;
  outline: 1px solid snow;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--black);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--black);
}
@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
  }
  :root {
    /*   --black: rgb(16, 18, 17); */
    --white: snow;
    /*   --black: rgb(34, 36, 35); */
    --black: rgb(56, 48, 48);
    /*   --gradient: linear-gradient(180deg, rgb(56, 48, 48) ;, rgb(34, 36, 35)); */
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .column {
    display: flex;
    flex-direction: column;
  }

  .container {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    height: 70vh;
    padding-top: 20vh;
    padding-bottom: 5vh;
    width: 100vw;
    z-index: 5;
  }
  .contentContainer {
    display: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0;
    height: 73vh;
    padding: 0 5vw;
    box-sizing: border-box;
    color: snow;
    z-index: 5;
    text-align: start;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    font-weight: 200;
    letter-spacing: 0.1em;
    overflow: overlay;
  }
  .rowSpacing {
    margin-bottom: 3vh;
  }
  .fadeIn {
    width: 90vw;
    animation: fadeIn 1s linear 0s;
    -webkit-animation: fadeIn 1s linear 0s;
  }
  a {
    color: snow;
  }
  p {
    margin: 0px;
  }
  *::-webkit-scrollbar {
  }
  *::-webkit-scrollbar-thumb {
  }
}
