.App {
  text-align: center;
  font-family: "Helvetica";
}
:root {
  --black: rgb(16, 18, 17);
  --white: snow;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.container {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 70vh;
  padding-top: 20vh;
  padding-bottom: 5vh;
  width: 70vw;
}
.contentContainer {
  width: 60vw;
  padding: 0 5vw;
  height: 75vh;
  margin: auto;
  background-color: rgb(16, 18, 17);
  color: snow;
  z-index: 0;
  text-align: start;
  font-size: 1.5em;
  font-family: "Poppins";

  line-height: 1.6;
  font-weight: 300;
  letter-spacing: 0.1em;
  overflow: scroll;
}
.rowSpacing {
  margin-bottom: 3vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  /*   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 */
}

*::-webkit-scrollbar-thumb {
  background-color: snow;
  outline: 1px solid snow;
}
